@charset "UTF-8";

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "author-card.css";

/* Remove the following to get a blank slate */
@import "tw";
@import "base";
@import "typography";
@import "syntax";

img.emoji {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}
