---
layout: note

title: "{{ published | date('yyyy-MM-dd') }}-{{ slug }}"

date: {{ published }}

author: 'anon-microblogger'

{%- if category %}
category:
{%- for item in category %}
- {{ item }}
{%- endfor %}
{%- endif %}

{%- if syndicateTo %}
syndicate-to:
{%- for item in syndicateTo %}
- {{ item }}
{%- endfor %}
{%- endif %}

permalink: "/micro/notes/{{ published | date('yyyy/MM/dd') }}/{{slug}}/"
---

{{ content | safe }}
